body {
    text-align: center;
    font-family: Arial;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    gap: 8px;
    width: max-content;
    margin: auto;
    background-color: #0057b8;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 70px;
    height: 70px;
    background-color: lightblue;
    border-radius: 50%;
    cursor: pointer;
}

#statusMessage {
    font-size: 24px;
    margin: 15px;
    font-weight: bold;
    color: darkgreen;
}

#replayBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

